body {
  margin: 0;
  background-color: #d4c69e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-title{
  align-items: center;
  margin-left: 430px;
}

.btn{
  margin-top: 30px;
  margin-left: 20px;
}

.input{
  margin-left: 20px;
}

.heading{
  margin-left: 20px;
}
